{% extends 'client_base.html' %}

{% block main %}
<script>
  new DataTable('#example', {
    layout: {
        topStart: {
            buttons: ['copyHtml5', 'excelHtml5', 'csvHtml5', 'pdfHtml5']
        }
    }
  });

  function openPDF() {
    window.open('/static/Tracksheet.pdf', '_blank');
  } 
</script>  

<style>
  .positive {
    color: green;
  }

  .negative {
    color: red;
  }

  .report-button {
    background-color: #000000;
    color: rgb(255, 255, 255);
    border: 1px solid rgb(255, 255, 255);
    padding: 10px 20px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    margin-left: 1050px;
  }

  .report-button:hover {
    background-color: #d1c391;
    color: black;
  }
</style>
 
<div class="content">
    <div class="row">
      <div class="col-md-12">
        <button class="report-button" onclick="openPDF()">Report</button>  
        <div class="card">
          <div class="card-header">
            <h4 class="card-title">Trade History</h4>
          </div>
          <div class="card-body">
            {% if error_message %}
            <div class="alert alert-danger" role="alert">
              {{ error_message }}
            </div>
            {% endif %}
            <div class="table-responsive table-container">
              <table class="table tablesorter table-bordered" id="example">
                <thead class="text-white bg-black">
                  <tr>
                    <th>ID</th>
                    <th style="width: 200px;">Signal Time</th>
                    <th>SYMBOL</th>
                    <th>TYPE</th>
                    <th>QUANTITY</th>
                    <th>ENTRY PRICE</th>
                    <th>EXIT PRICE</th>
                    <th>P & L</th>
                    <th>Cumulative P & L</th>
                  </tr>
                </thead>
                <tbody>
                  {% for signal in s %}
                    <tr>
                      <td>{{ signal.id }}</td>
                      <td style="width: 200px;">{{ signal.created_at|default:"-" }}</td>
                      <td>{{ signal.SYMBOL |default:"-" }}</td>
                      <td>{{ signal.TYPE|default:"-" }}</td>
                      <td>{{ signal.QUANTITY |default:"-" }}</td>
                      {% if signal.TYPE == "BUY_EXIT" %}
                        <td>-</td> <!-- If it's BUY_EXIT, show a hyphen -->
                      {% else %}
                        <td>{{ signal.ENTRY_PRICE |default:"-" }}</td> <!-- Otherwise, show ENTRY_PRICE -->
                      {% endif %}
   
                      <td>{{ signal.EXIT_PRICE|default:"-" }}</td>

                      {% if signal.profit_loss == "0"%}
                        <td>-</td>
                      {% else %}  
                        <td class="{% if signal.profit_loss < 0 %}negative{% elif signal.profit_loss > 0 %}positive{% endif %}">
                          {{ signal.profit_loss|default:"-" }}
                          {% if signal.profit_loss != None and signal.profit_loss != "-" %}
                              <span>$</span>
                          {% endif %}
                        </td>
                    
                      {% endif %}

                      {% if signal.cumulative_pl == "0" %}
                        <td>-</td>
                      {% else %}  
                        <td class="{% if signal.cumulative_pl <= 0 %}negative{% elif signal.cumulative_pl >= 0 %}positive{% endif %}">
                          {{ signal.cumulative_pl|default:"-" }}
                          {% if signal.cumulative_pl != None and signal.cumulative_pl != "-" %}
                              <span>$</span>
                          {% endif %}
                      </td>
                      
                        {% endif %}
                      
                  </tr>
                  {% endfor %}
                  <tr>
                    <td colspan="8" style="text-align: right; font-weight: bold;">Total cumulative_pl:</td>
                    <td class="{% if total_cumulative_pl <= 0 %}negative{% elif total_cumulative_pl >= 0 %}positive{% endif %}"><span style="font-weight: bold;">{{ total_cumulative_pl|floatformat:"-2" |default:"0" }}<span>$</span></span></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
